
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
}

.row:nth-child(2) {
    margin: 40px 0;
    justify-content: center;
}

.row > div {
    width: 250px;
    height: 350px;
    margin: 0 10px;
}